#######################################
### users define display_template ####
######################################


[display_template _mcu_temperature]
param_temperature_sensor: "mcu"
param_display_name: "mcu"
text:

   ### read temp    
      {% set mcu_temp =printer[('temperature_sensor ' + param_temperature_sensor)].temperature %}
   ### Show temperature
     ~chip~ {param_display_name}{"%3.0f" % (mcu_temp,) }~degrees~ 

[display_template _temp_sensor]
param_temperature_sensor: "max31865"
param_display_name: "Pt:"
text:

   ### read temp    
      {% set mcu_temp =printer[('temperature_sensor ' + param_temperature_sensor)].temperature %}
   ### Show temperature
     {param_display_name}{"%3.0f" % (mcu_temp,) }~degrees~ 


##---------------------------------------------------------------------------------

[display_template _flow_extruder]
param_extruder_name: "extruder"
text:

### calc flow
     {% set speed = printer["motion_report"].live_extruder_velocity %}
     {% set diameter_r = printer.configfile.settings[param_extruder_name].filament_diameter / 2 %}   
 
    {% if printer['gcode_macro M221'] is defined %}  
       {% set extrude_factor = (printer['gcode_macro VARIABLE'].extrude_factor[param_extruder_name]) %}              
    {% else %}
       {% set extrude_factor = printer.gcode_move.extrude_factor %}
    {% endif %}

     {% set flow = 3.14 * diameter_r * diameter_r * speed|float  * extrude_factor  %}   
       ### show float
        {% set display_index = printer.toolhead.estimated_print_time|int % 4 %}   
            {% if display_index < 2 %}
                {"%4.1f" % (flow,)} mm~3/s~
            {% else %}
                {"%s "'%3d'"" % (" ",extrude_factor*100)} %
            {% endif %}
 
##---------------------------------------------------------------------------------


[display_template _actual_flow_extruder]
text:
### calc flow
     {% set act_extruder = printer.toolhead.extruder %}
     {% set speed = printer["motion_report"].live_extruder_velocity %}
     {% set diameter_r = printer.configfile.settings[act_extruder].filament_diameter / 2 %}   

   {% if printer["gcode_macro M221"] is defined %}  
       {% set extrude_factor = (printer["gcode_macro VARIABLE"].extrude_factor[act_extruder])|float %} 
   {% else %}
       {% set extrude_factor = printer.gcode_move.extrude_factor %}
   {% endif %}    
 
     {% set flow = 3.14 * diameter_r * diameter_r * speed |float  * extrude_factor  %}   
   ### show float
     {% set display_index = printer.toolhead.estimated_print_time|int % 4 %}   
            {% if display_index < 2 %}
                {"%4.1f" % (flow,)} mm~3/s~
            {% else %}
                {"%s "'%3d'"" % (" ",extrude_factor*100)} %
            {% endif %}
 
 
##--------------------------------------------------------------------------------- 

[display_template _heater_temperature]
param_heater_name: "extruder"
text:
  {% if param_heater_name in printer %}
    {% set heater = printer[param_heater_name] %}
    # Show glyph
    {% if param_heater_name == "heater_bed" %}
      {% if heater.target %}
        {% set frame = (printer.toolhead.estimated_print_time|int % 2) + 1 %}
        ~bed_heat{frame}~
      {% else %}
        ~bed~
      {% endif %}

    {% elif param_heater_name == "extruder" %}
      ~extruder0~
    {% elif param_heater_name == "extruder1" %}
      ~extruder1~
    {% elif param_heater_name == "extruder2" %}
      ~extruder2~
    {% elif param_heater_name == "extruder3" %}
      ~extruder3~
    {% endif %}

    # Show temperature
    { "%3.0f" % (heater.temperature,) }~degrees~ 
    # Optionally show target
    {% if heater.target and (heater.temperature - heater.target)|abs > 2 %}
      ~right_arrow~
      { "%0.0f" % (heater.target,) }~degrees~ 
    {% endif %}

  {% endif %}


[display_template _print_demo]
param_extruder_name: "extruder"
text:

 # Show anim glyph carriage or exruder     
     {% set anim = (printer.toolhead.estimated_print_time|int % 5)  %}     

     #  Optionally show carriage 0 /tool 0 for IDEX    
      {% if param_extruder_name == "extruder" and printer.toolhead.extruder == "extruder"%} 
         {% if printer['virtual_sdcard'].is_active %}
             {"%s" % (" ") }~s_extruder{anim}~ 
         {% else %}
            {"%s" % (" ") }~s_extruder4~
         {% endif %}

 #  Optionally show carriage 0 /tool 1 for IDEX    
      {% elif param_extruder_name == "extruder1" and printer.toolhead.extruder == "extruder1"%} 
         {% if printer['virtual_sdcard'].is_active %}
             {"%s" % (" ") }~s_extruder{anim}~ 
         {% else %}
             {"%s" % (" ") }~s_extruder4~
         {% endif %}

 #  Optionally show carriage 1 /tool 2 for IDEX    
      {% elif param_extruder_name == "extruder2" and printer.toolhead.extruder == "extruder2"%} 
         {% if printer['virtual_sdcard'].is_active %}
             {"%s" % (" ") }~s_extruder{anim}~ 
         {% else %}
             {"%s" % (" ") }~s_extruder4~
         {% endif %}

    # Optionally show carriage 1 /tool3 for IDEX     
     {% elif param_extruder_name == "extruder3" and printer.toolhead.extruder == "extruder3"%} 
         {% if printer['virtual_sdcard'].is_active %}
             {"%s" % (" ") }~s_extruder{anim}~ 
         {% else %}
             {"%s" % (" ") }~s_extruder4~
         {% endif %}
         

  #  Optionally show sync mode for IDEX   
  
      {% elif  printer['gcode_macro VARIABLE'].mode_605 == 2 %} 

          ### for IDEX mode
            {% if param_extruder_name == "extruder1" and printer.toolhead.extruder == "extruder"%} 
                 {% if printer['virtual_sdcard'].is_active %}
                       {"%s" % (" ") }~s_extruder{anim}~ 
                 {% else %}
                        {"%s" % (" ") }~s_extruder4~
                {% endif %}
              {% endif %}
           ### for 4EX2 mode
            {% if param_extruder_name == "extruder2" and printer.toolhead.extruder == "extruder"%} 
                 {% if printer['virtual_sdcard'].is_active %}
                       {"%s" % (" ") }~s_extruder{anim}~ 
                 {% else %}
                        {"%s" % (" ") }~s_extruder4~
                {% endif %}
              {% endif %}
            {% if param_extruder_name == "extruder3" and printer.toolhead.extruder == "extruder1"%} 
                 {% if printer['virtual_sdcard'].is_active %}
                       {"%s" % (" ") }~s_extruder{anim}~ 
                 {% else %}
                        {"%s" % (" ") }~s_extruder4~
                {% endif %}
           {% endif %}
           
   #  Optionally show mirror mode for IDEX 
   
      {% elif  printer['gcode_macro VARIABLE'].mode_605 == 3 %} 
           ### for IDEX mode
           {% if param_extruder_name == "extruder1" and printer.toolhead.extruder == "extruder"%} 
                 {% if printer['virtual_sdcard'].is_active %}
                       {"%s" % (" ") }~m_extruder{anim}~ 
                 {% else %}
                        {"%s" % (" ") }~m_extruder4~
                {% endif %}
              {% endif %}
            ### for 4EX2 mode
            {% if param_extruder_name == "extruder2" and printer.toolhead.extruder == "extruder"%} 
                 {% if printer['virtual_sdcard'].is_active %}
                       {"%s" % (" ") }~m_extruder{anim}~ 
                 {% else %}
                        {"%s" % (" ") }~m_extruder4~
                {% endif %}
              {% endif %}
            {% if param_extruder_name == "extruder3" and printer.toolhead.extruder == "extruder1"%} 
                 {% if printer['virtual_sdcard'].is_active %}
                       {"%s" % (" ") }~m_extruder{anim}~ 
                 {% else %}
                        {"%s" % (" ") }~m_extruder4~
                {% endif %}
           {% endif %}  
      {% endif %}
 


##---------------------------------------------------------------------------------

[display_template _fan_speed]
param_fan_name:"fan_generic fan"
text:
    ### read print fan speed 
    {% set speed = printer[param_fan_name].speed|float %}
    
    {% if speed %}
      {% set frame = (printer.toolhead.estimated_print_time|int % 2) + 1 %}
      ~fan{frame}~
    {% else %}
      ~fan1~
   {% endif %}
    { "{:>4.0%}".format(speed) }
    

##---------------------------------------------------------------------------------

[display_template _OLED_temperature]
param_heater_name: "extruder"
text:
  {% if param_heater_name in printer %}
    {% set heater = printer[param_heater_name] %}
    # Show glyph
    {% if param_heater_name == "heater_bed" %}
      {% if heater.target %}
        {% set frame = (printer.toolhead.estimated_print_time|int % 2) + 1 %}
        ~bed_heat{frame}~
      {% else %}
        ~bed~
      {% endif %}

    {% elif param_heater_name == "extruder" %}
      ~extruder0~
    {% elif param_heater_name == "extruder1" %}
      ~extruder1~
    {% elif param_heater_name == "extruder2" %}
      ~extruder2~
    {% elif param_heater_name == "extruder3" %}
      ~extruder3~
    {% endif %}

    # Show temperature
     {"%s" % (" ") }{ "%3.0f" % (heater.temperature,) }~degrees~ 
    # Optionally show target
    {% if heater.target and (heater.temperature - heater.target)|abs > 2 %}
      ~right_arrow~
      { "%0.0f" % (heater.target,) }~degrees~ 
    {% endif %}

  {% endif %}

##---------------------------------------------------------------------------------

[display_template _temp_sens]
text:

    {% set display_vars = printer["gcode_macro DISPLAY_VARIABLE"] %}  
     
      {% set display_index =  (printer.system_stats.cputime*5)|int %  printer.heaters.available_sensors|length %} 

  ### define sensor, name, icon 
      {% set temperature_sensor = display_vars.temp_sensor.index[display_index] %}          
      {% set display_name = display_vars.temp_sensor.name[display_index] %}
      {% set icon = display_vars.temp_sensor.icon[display_index]%}
                
   ### read temp    
      {% set mcu_temp =printer[(temperature_sensor)].temperature %}
   ### Show temperature    
       ~{icon}~ {display_name}{"%3.0f" % (mcu_temp,) }~degrees~   

