# This file contains a configuration snippet for DISABLE_CARRIAGE 
#  printer using dual carriages (an "IDEX" printer).
#
# See docs/Config_Reference.md for a description of parameters.
#
#####################################################################
#  IDEX DISABLE CARRIAGES MOVMENT MODES MANAGEMENT
# Function description: 
#####################################################################
#  macro uses variable:
#
#  printer["gcode_macro VARIABLE"].toolhead
#  printer["gcode_macro VARIABLE"].dual_carriage
#  printer["gcode_macro VARIABLE"].fan
#  
#####################################################################
[gcode_macro DISABLE_CARRIAGE_0]
gcode:

    _DISABLE_CARRIAGES CARRIAGE=0 

#####################################################################

[gcode_macro DISABLE_CARRIAGE_1]
gcode:

    _DISABLE_CARRIAGES CARRIAGE=1 
    
#####################################################################

[gcode_macro _DISABLE_CARRIAGES]
description: Disable carriage 0 in mode "DUPLICATION"  or "MIRRORED".
gcode:
 
 {% set user_vars = printer["gcode_macro VARIABLE"] %} 
 
 {% if user_vars.dual_carriage.disable %}
   {% set axis = printer.configfile.settings.dual_carriage.axis %}
   {% set fan_carriage = printer["gcode_macro VARIABLE"].fan.index %}  # 'index': ['fan', 'fan1']
   
   
    SAVE_GCODE_STATE
	 SET_DUAL_CARRIAGE CARRIAGE={params.CARRIAGE} MODE=INACTIVE
    SAVE_DUAL_CARRIAGE_STATE
     SET_DUAL_CARRIAGE CARRIAGE={params.CARRIAGE}
	
	### park inactive carriage to endstop position   
      {% if params.CARRIAGE|int == 0 %}
         G1 {axis + (printer.configfile.config[('stepper_'+axis)].position_endstop)} F{user_vars.dual_carriage.feedrate}  
      {% else %}
         G1 {axis + (printer.configfile.config[('dual_carriage')].position_endstop)} F{user_vars.dual_carriage.feedrate} 
      {% endif %}			
    ### reset inactive extruder
      SYNC_EXTRUDER_MOTION EXTRUDER={user_vars.toolhead[0][0]} MOTION_QUEUE= 	  
	### off temp inactive extruder 
      SET_HEATER_TEMPERATURE HEATER={user_vars.toolhead[0][0]} TARGET=0     
	### off print fan on inactive carriage      
      SET_FAN_SPEED FAN={fan_carriage[params.CARRIAGE|int]} SPEED=0
	 
     RESTORE_DUAL_CARRIAGE_STATE MOVE=0
     RESTORE_GCODE_STATE MOVE=0

    ### update  variable
       {% set _dummy = user_vars.dual_carriage.update( {'disable' : False } ) %}  
       SET_GCODE_VARIABLE  MACRO=VARIABLE  VARIABLE=dual_carriage  VALUE="{user_vars.dual_carriage}"  

 {% else %}
     RESPOND TYPE="error" MSG="Disable carriage only in DUPLICTION or MIRRORED Idex modes."
 {% endif %}  

   
