
##########################################################
# PRINTER FANS MANAGEMENT for IDEX
# Redefine G-code command M106 and M107 
##########################################################
#
#  printer["gcode_macro VARIABLE"].toolhead 
#
##########################################################
  
[gcode_macro SET_SYNC_FAN_MODE]
description: Sync the print fan speed on toolhead.
gcode:

    {% set user_vars = printer["gcode_macro VARIABLE"] %}  
    {% set fan_speed = params.SPEED|default(0) %}    
    {% set act_extruder = printer.toolhead.extruder %} 

       ### Duplication, Mirrored mode
       ### Nastav fan jen pokud carriage neni INACTIVE
       {% set carriage_0_state = printer['dual_carriage'].carriage_0 %}
       {% set carriage_1_state = printer['dual_carriage'].carriage_1 %}
       {% set carriage_states = [carriage_0_state, carriage_1_state] %}
       {% for index in user_vars.toolhead %}
           {% if carriage_states[index|int] != 'INACTIVE' %}
               SET_FAN_SPEED FAN={user_vars.fan.index[index]} SPEED={fan_speed}
           {% else %}
               SET_FAN_SPEED FAN={user_vars.fan.index[index]} SPEED=0
           {% endif %}
       {% endfor %}

