
#####################################################################
#  IDEX HEATERS MANAGEMENT
# Function description: 
#####################################################################
#  macro uses variable:
#
#  printer["gcode_macro VARIABLE"].toolhead
#  printer["gcode_macro VARIABLE"].tool 
#  printer["gcode_macro VARIABLE"].offset_temp 
#
#
##########################################################
 
[gcode_macro SET_SYNC_HEATERS_MODE]
description: Set both heater + offset temp.
gcode:   

 {% set user_vars = printer["gcode_macro VARIABLE"] %} 
 
#  {action_respond_info(">>>>> run gcode_macro  SET_SYNC_HEATERS_MODE")}
          
    ### params WAIT = "True" from M109 / "False" from M104
    ### params TEMP = pozadovana teplota predana z SET_TOOL_HEATER (vcetne offsetu)
    
    {% set wait_heating = params.WAIT|default('False') %}
    {% set req_temp = params.TEMP|default(0)|float %}
       
    ### synchronized heaters 
    {% if user_vars.tool|length > 1 %}
        
        ### Zjisti stavy carriages
        {% set carriage_0_state = printer['dual_carriage'].carriage_0 %}
        {% set carriage_1_state = printer['dual_carriage'].carriage_1 %}
     
        ### 2-3 extruders
        {% set toolhead_0_extr_0 = user_vars.toolhead[0][0] %}     
        {% set toolhead_1_extr_0 = user_vars.toolhead[1][0] %}     

        ### Zdrojova teplota = TEMP parametr predany z SET_TOOL_HEATER        
        {% set src_temp_0 = req_temp %}
        {% set both_temp_0 = src_temp_0 + user_vars.offset_temp[toolhead_1_extr_0] %}
        {% set sync_temp = true if src_temp_0 > 0 else false %}

        ### 4 extruders
        {% if user_vars.tool|length == 4 %}      
            {% set toolhead_0_extr_1 = user_vars.toolhead[0][1] %}     
            {% set toolhead_1_extr_1 = user_vars.toolhead[1][1] %}   
            {% set src_temp_1 = src_temp_0 %}                       
            {% set both_temp_1 = src_temp_1 + user_vars.offset_temp[toolhead_1_extr_1] %}    
        {% endif %}

        ### set sync temp    
        {% if sync_temp %}
            {action_respond_info("waiting heating = %s" % (wait_heating))}
            {action_respond_info("carriage_0 state = %s" % (carriage_0_state))}
            {action_respond_info("carriage_1 state = %s" % (carriage_1_state))}
            {action_respond_info("temperature synchronization: src_temp=%s" % (src_temp_0))}
               
            ### Nastav teploty - na INACTIVE dej 0
            {% set final_temp_0_0 = 0 if carriage_0_state == 'INACTIVE' else src_temp_0 %}
            {% set final_temp_1_0 = 0 if carriage_1_state == 'INACTIVE' else both_temp_0 %}
            
            {action_respond_info("%s = %s%s" % (toolhead_0_extr_0, final_temp_0_0, " (INACTIVE)" if carriage_0_state == 'INACTIVE' else ""))}
            {action_respond_info("%s = %s%s" % (toolhead_1_extr_0, final_temp_1_0, " (INACTIVE)" if carriage_1_state == 'INACTIVE' else ""))}
            
            SET_HEATER_TEMPERATURE HEATER={toolhead_0_extr_0} TARGET={final_temp_0_0}
            SET_HEATER_TEMPERATURE HEATER={toolhead_1_extr_0} TARGET={final_temp_1_0}
          
            {% if wait_heating == 'True' and carriage_0_state != 'INACTIVE' %} 
                TEMPERATURE_WAIT SENSOR={toolhead_0_extr_0} MINIMUM={src_temp_0 - 2.0} MAXIMUM={src_temp_0 + 2.0}
            {% endif %}
            {% if wait_heating == 'True' and carriage_1_state != 'INACTIVE' %} 
                TEMPERATURE_WAIT SENSOR={toolhead_1_extr_0} MINIMUM={both_temp_0 - 2.0} MAXIMUM={both_temp_0 + 2.0}
            {% endif %}
        
            {% if user_vars.tool|length == 4 %}    
                {% set final_temp_0_1 = 0 if carriage_0_state == 'INACTIVE' else src_temp_1 %}
                {% set final_temp_1_1 = 0 if carriage_1_state == 'INACTIVE' else both_temp_1 %}
                
                {action_respond_info("%s = %s%s" % (toolhead_0_extr_1, final_temp_0_1, " (INACTIVE)" if carriage_0_state == 'INACTIVE' else ""))}
                {action_respond_info("%s = %s%s" % (toolhead_1_extr_1, final_temp_1_1, " (INACTIVE)" if carriage_1_state == 'INACTIVE' else ""))}
           
                SET_HEATER_TEMPERATURE HEATER={toolhead_0_extr_1} TARGET={final_temp_0_1}
                SET_HEATER_TEMPERATURE HEATER={toolhead_1_extr_1} TARGET={final_temp_1_1}
            
                {% if wait_heating == 'True' and carriage_0_state != 'INACTIVE' %} 
                    TEMPERATURE_WAIT SENSOR={toolhead_0_extr_1} MINIMUM={src_temp_1 - 2.0} MAXIMUM={src_temp_1 + 2.0}
                {% endif %}
                {% if wait_heating == 'True' and carriage_1_state != 'INACTIVE' %} 
                    TEMPERATURE_WAIT SENSOR={toolhead_1_extr_1} MINIMUM={both_temp_1 - 2.0} MAXIMUM={both_temp_1 + 2.0}
                {% endif %}
            {% endif %}  
           
           
        {% else %}
            ### Reset all heaters to 0
            {% set name = "offset_temp" %}    
            {% set upd_init = user_vars.offset_temp %} 
          
            SET_HEATER_TEMPERATURE HEATER={toolhead_0_extr_0} TARGET=0
            SET_HEATER_TEMPERATURE HEATER={toolhead_1_extr_0} TARGET=0
            {% set _dummy = upd_init.update({toolhead_0_extr_0: 0}) %}
            {% set _dummy = upd_init.update({toolhead_1_extr_0: 0}) %}                              
           
            {% if user_vars.tool|length == 4 %}   
                SET_HEATER_TEMPERATURE HEATER={toolhead_0_extr_1} TARGET=0
                SET_HEATER_TEMPERATURE HEATER={toolhead_1_extr_1} TARGET=0
                {% set _dummy = upd_init.update({toolhead_0_extr_1: 0}) %}
                {% set _dummy = upd_init.update({toolhead_1_extr_1: 0}) %}
            {% endif %}                 

            {action_respond_info("temperature off and reset offset temp")}
            SET_GCODE_VARIABLE MACRO=VARIABLE VARIABLE={name} VALUE="{upd_init}"                            
        {% endif %}    
                
    {% else %}
        {action_respond_info("Configuration is not valid for synchronized heaters.")}
    {% endif %}