
### pin mappings for MKS RUMBA32 -rework MFG + EBB 42 CAN! 

#####################################################################
#  add HW config for  dual-gantry  
#####################################################################

[printer]
kinematics: dualgantry_cartesian
max_velocity: 600
max_accel: 3000
max_z_velocity: 25
max_z_accel: 30

### second stepper X 

[stepper_u]
step_pin: PD2
dir_pin: PD3
enable_pin: !PD0
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB13
position_endstop: 299
position_min: 0
position_max: 299
homing_speed: 50

[tmc2209 stepper_u]
uart_pin: PD1
run_current: 0.400
hold_current: 0.200
stealthchop_threshold: 500


### second stepper Y 

[mcu EBB_usb]
serial:/dev/serial/by-id/usb-Klipper_stm32g0b1xx_0E0036001450425539393020-if00

[temperature_sensor EBB_42_V]
sensor_mcu: EBB_usb
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100


[heater_generic heater_1]
gcode_id: 1
heater_pin: EBB_usb: PB13
max_power: 0.25
sensor_type: Generic 3950
sensor_pin: EBB_usb: PA3
control: pid  # 24v / 40W
pid_Kp: 4.271 
pid_Ki: 0.025 
pid_Kd: 182.178
min_temp: 0
max_temp: 100


[temperature_sensor stepper_v]
sensor_type: MAX31865
sensor_pin: EBB_usb: PA4
spi_bus: spi1
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2
min_temp: 0
max_temp: 250


[stepper_v]
step_pin: EBB_usb: PD0
dir_pin: EBB_usb: PD1
enable_pin: !EBB_usb: PD2
microsteps: 16
rotation_distance: 40
endstop_pin: ^EBB_usb:PB6
position_endstop: 293
position_min: 0
position_max: 293
homing_speed: 50

[tmc2209 stepper_v]
uart_pin: EBB_usb: PA15
run_current: 0.650
stealthchop_threshold: 100

###############################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_320061000E51393036363933-if00
baud: 250000
restart_method:command

[temperature_sensor Rumba_32]
sensor_mcu: mcu
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[stepper_x]
step_pin: PA0
dir_pin: PC15
enable_pin: !PC11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB12
position_endstop: -52
position_min: -52
position_max: 240
homing_speed: 50

[stepper_y]
step_pin: PE5
dir_pin: !PE6
enable_pin: !PE3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB15
position_endstop: -54
position_min: -54
position_max: 240
homing_speed: 50

[stepper_z]
step_pin: PE1
dir_pin: PE2
enable_pin: !PB7
microsteps: 16
rotation_distance: 2 
#gear_ratio: 5:1
endstop_pin: PD8        ### probe:z_virtual_endstop .... for BLTouch 
#position_endstop: 0.0  ### in main .... printer.cfg
position_max: 200
position_min: -2        ### The Z carriage may need to travel below the Z=0

########################################
# TMC 2209 stepper driver configuration
########################################

[tmc2209 stepper_x]
uart_pin: PC14
run_current: 0.400
hold_current: 0.200
stealthchop_threshold: 500
#diag_pin:

[tmc2209 stepper_y]
uart_pin: PE4
run_current: 0.400
hold_current: 0.200
stealthchop_threshold: 500
#diag_pin:

[tmc2209 stepper_z]
uart_pin: PE0
run_current: 0.400
hold_current: 0.200
stealthchop_threshold: 3
#diag_pin:

########################################

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950  ### NTC 100K beta 3950
sensor_pin: PC0
max_power: 0.5
control: pid
pid_Kp: 221.22
pid_Ki: 43.56
pid_Kd: 280.90
min_temp: 0
max_temp: 130


########################################
# BL-Touch configuration
########################################

[bltouch]
sensor_pin: ^PD11
control_pin: PA15
#stow_on_each_sample: False
#probe_with_touch_mode: True
x_offset: 0
y_offset: 0
#z_offset: 2  ### in main .... printer.cfg
speed: 5.0
samples: 2
sample_retract_dist: 3.0


[safe_z_home]
home_xy_position: 120,120
speed: 120
z_hop: 5
z_hop_speed: 5

########################################
# Bed mesh configuration
########################################

[bed_mesh]
speed: 240
horizontal_move_z: 6
mesh_min: 20,20
mesh_max: 220, 220
probe_count: 3,3

fade_start: 1.0
fade_end: 10.0


########################################
#  define Neopixels
########################################

[neopixel axis_X]
pin: PB10
chain_count:15
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
#initial_WHITE: 0.0

######################################
# for MKS PWC V3.0 module
######################################

[output_pin PS_ON]
pin: PE11
value: 1

#[gcode_button PW_DET]    
#pin: PA3      
#press_gcode:
#     POWER_DETECT_LOOS

#########################################

[respond]
# Enable the "M118" and "RESPOND" extended
   
[pause_resume]
# Pause/Resume functionality with support of position capture and restore.   

