
#############################################
# pin mappings for MKS RUMBA32 -rework MFG ! 
#############################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_320061000E51393036363933-if00
baud: 250000
restart_method:command

[temperature_sensor Rumba_32]
sensor_mcu: mcu
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100


[printer]
kinematics: cartesian
max_velocity: 600
max_accel: 3000
max_z_velocity: 25
max_z_accel: 30

#############################################

[stepper_x]
step_pin: PA0
dir_pin: PC15
enable_pin: !PC11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB12
position_endstop: -52
position_min: -52
position_max: 240
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC14
run_current: 0.400
hold_current: 0.200
stealthchop_threshold: 500
#diag_pin:

#------------------------------------------

[stepper_y]
step_pin: PE5
dir_pin: !PE6
enable_pin: !PE3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB15
position_endstop: -54
position_min: -54
position_max: 240
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PE4
run_current: 0.400
hold_current: 0.200
stealthchop_threshold: 500
#diag_pin:

#------------------------------------------

[stepper_z]
step_pin: PE1
dir_pin: PE2
enable_pin: !PB7
microsteps: 16
rotation_distance: 2 
endstop_pin:  PD8         ### probe:z_virtual_endstop .... for BLTouch 
position_endstop:  0.0    ### in main .... printer.cfg
position_max: 200
position_min: -2           ### The Z carriage may need to travel below the Z=0


[tmc2209 stepper_z]
uart_pin: PE0
run_current: 0.400
hold_current: 0.200
stealthchop_threshold: 3
#diag_pin:


###################################################

[respond]
# Enable the "M118" and "RESPOND" extended
   
[pause_resume]
# Pause/Resume functionality with support of position capture and restore.   


###################################################
#  EMERGENCY STOP button
###################################################

[gcode_button emergency_stop]
pin: PA3
press_gcode: 
            M117 Press EMERGENCY STOP button !
           {action_emergency_stop("Press EMERGENCY STOP button !")}
           

########################################
#  define Neopixels
########################################

[neopixel axis_X]
pin: PB10
chain_count:15
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
#initial_WHITE: 0.0           
